<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DDN Class Registration</title>
	<link rel="stylesheet" type="text/css" href="../content/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../content/style.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">DDCon Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/views/registration.html">Registration <span class="sr-only">(current)</span></a></li>
					<li><a href="/views/schedule.html">Schedule</a></li>
					<li><a href="/views/instructors.html">Instructors</a></li>
					<li><a href="#">Login</a></li>
					<li style='display: none;'><a href="#">Logout</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="page-header">
			<h1>Hello, Name</h1>
		</div>

		<div class="widget">
			<div class="widget-header">
				<h1 class='title'>
					Action Items
				</h1> 
			</div>
			<div class="item-list">
				<div class='item'>
					<div class='content'>
						<div class=title>
							<a href='#'>Complete Registration</a>
							<a href='#'>Lorem Ipsum</a>
							<a href='#'>Lorem Ipsum</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="widget faq">
			<div class='widget-header'>
				<h1 class="title">
					Frequently Asked Questions
				</h1>
			</div>
			<div class="item-list">
				<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>
					<div class='item'>
					<div class='content'>
						<h2 class='title'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit?
						</h2>
						<div class="description">
							<p>Suspendisse tempus turpis at elit vestibulum consectetur. Suspendisse ullamcorper tincidunt enim ac dapibus. Nullam sodales, turpis sit amet posuere</p>
						</div>
					</div>
				</div>a
			</div>
		</div>
	</div>

	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/script.js"></script>
</body>
</html>