<!DOCTYPE html>
<html>
<head>
	<title>DDN Class Registration</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../content/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../content/style.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">DDCon Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="registration.html">Registration <span class="sr-only">(current)</span></a></li>
					<li><a href="schedule.html">Schedule</a></li>
					<li><a href="instructors.html">Instructors</a></li>
					<li><a href="login.html">Login</a></li>
					<li style='display: none;'><a href="#">Logout</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<h1 class='title'>Meet the Instructors!</h1>
		<h2 class='title'>Master Class Instructors</h2>
			<div class="row">
				<div class="col-sm-4">
					<img src="Brittnie.jpg" alt="Brittnie" style="width:200px; height:250px;">
					<h3 class='instructor-name'>
						Brittnie Aguilar
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">
					<img src="Gopi.jpg" alt="Gopi" style="width:200px; height:250px;">
					<h3 class='instructor-name'>
						Gopi Engineer
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">
					<img src="Lavesh.jpg" alt="Lavesh" style="width:200px; height:250px;">
					<h3 class='instructor-name'>
						Lavesh Pritami
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="Pause.jpg" alt="Pause" style="width:200px; height:250px;">
					<h3 class='instructor-name'>
						Pause Eddie
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">
					<img src="Varun.jpg" alt="Varun" style="width:200px; height:250px;">
					<h3 class='instructor-name'>
						Varun Gurunath
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
			</div>
			<h2 class='title'>Workshop Instructors</h2>
			<div class="row">
				<div class="col-sm-4">
					<img src="Yuri.jpg" alt="Yuri" style="width:200px; height:250px;">
					<h3 class='instructor-name'>
						Yuri Doolan
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">
					<img src="Siddarth.jpg" alt="Siddarth" style="width: 200px; height: 250px">
					<h3 class='instructor-name'>
						Siddarth Kelam
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">
					<img src="Anisha.jpg" alt="Anisha" style="width: 200px; height: 250px;">
					<h3 class='instructor-name'>
						Anisha Babbar
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="SidRam.jpg" alt="SidRam" style="width: 200px; height: 250px;">
					<h3 class='instructor-name'>
						Sid and Ram
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">
					<img src="Anup.jpg" alt="Anups" style="width: 200px; height: 250px;">
					<h3 class='instructor-name'>
						Anup
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">
					<img src="Bhavi.png" alt="Bhavi" style="width: 200px; height: 250px;">
					<h3 class='instructor-name'>
						Bhavi
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="Bobbi.jpg" alt="Bobbi" style="width: 200px; height: 250px;">
					<h3 class='instructor-name'>
						Bobbi Ponder
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">
					<img src="Jeril.jpg" alt="Jeril" style="width: 200px; height: 250px;">
					<h3 class='instructor-name'>
						Jeril Lukose
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
				<div class="col-sm-4">	
					<img src="Ramita.jpg" alt="Ramita" style="width: 200px; height: 250px;">
					<h3 class='instructor-name'>
						Ramita
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel nibh eget tellus bibendum cursus maximus scelerisque arcu. Sed efficitur auctor convallis.
					</p>
				</div>
			</div>
		</div>	<!--container-->

		<script src="../js/jquery-2.1.4.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>