<!DOCTYPE html>
<html>
<head>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DDN Class Registration</title>
		<link rel="stylesheet" type="text/css" href="../content/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../content/style.css">
	</head>
</head>
<body>
	<!-- this is for the ddn banner/logo -->
		<div class="banner">
		<img src= "DDNLOGO.jpg" alt="DDCON_logo">
		</div>
	<!-- the login box -->
	<div class="container">
		<form action="/action_page.php">
			<div>
				<label><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="uname" required>
				<label><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="psw" required>
				<button type="submit">Login</button>
			</div>
			<div style="background-color:#f1f1f1">
				<span class="psw"><a href="#">Forgot password?</a></span>
			</div>
		</form>
	</div>
	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/script.js"></script>
</body>
</html>