<!DOCTYPE html>
<html>
<head>
	<title>DDN Class Registration</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../content/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../content/style.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">DDCon Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="registration.html">Registration <span class="sr-only">(current)</span></a></li>
					<li><a href="schedule.html">Schedule</a></li>
					<li><a href="instructors.html">Instructors</a></li>
					<li><a href="login.html">Login</a></li>
					<li style='display: none;'><a href="#">Logout</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<h1 class='title'>
			Registration
		</h1>
		<p class="text" style='width:50%; margin-bottom: 75px'>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit sapien nulla. Phasellus elementum iaculis venenatis. Suspendisse eu tortor non purus porta volutpat at et risus. Ut efficitur venenatis interdum. Aenean blandit, velit et laoreet vehicula, quam nibh viverra ante, nec tempus ipsum quam viverra diam. 
		</p>
		<div class='widget'>
			<div class='widget-header'>
				<h2 class='title'>
					Timeslot 1 <span>(9:00am -  10:00am)</h2>
			</div>
			<div class='item-list'>
				<div class='item'>
					<div class='content'>
						<h3 class='class'>
							Class Name
							<span>#/#</span>
						</h3>
						<p class="instructor">
							Taught by <a href='#'> Name</a>
						</p>
						<p class="description">
							Ut efficitur venenatis interdum. Aenean blandit, velit et laoreet vehicula, quam nibh viverra ante, nec tempus ipsum quam viverra diam.
						</p>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h3 class='class'>
							Class Name
							<span>#/#</span>
						</h3>
						<p class="instructor">
							Taught by <a href='#'> Name</a>
						</p>
						<p class="description">
							Ut efficitur venenatis interdum. Aenean blandit, velit et laoreet vehicula, quam nibh viverra ante, nec tempus ipsum quam viverra diam.
						</p>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h3 class='class'>
							Class Name
							<span>#/#</span>
						</h3>
						<p class="instructor">
							Taught by <a href='#'> Name</a>
						</p>
						<p class="description">
							Ut efficitur venenatis interdum. Aenean blandit, velit et laoreet vehicula, quam nibh viverra ante, nec tempus ipsum quam viverra diam.
						</p>
					</div>
				</div>
			</div><!--item-list-->
		</div><!--widget-->
		<div class='widget'>
			<div class='widget-header'>
				<h2 class='title'>
					Timeslot 2 <span>(11:00am -  12:00pm)</h2>
			</div>
			<div class='item-list'>
				<div class='item'>
					<div class='content'>
						<h3 class='class'>
							Class Name
							<span>#/#</span>
						</h3>
						<p class="instructor">
							Taught by <a href='#'> Name</a>
						</p>
						<p class="description">
							Ut efficitur venenatis interdum. Aenean blandit, velit et laoreet vehicula, quam nibh viverra ante, nec tempus ipsum quam viverra diam.
						</p>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h3 class='class'>
							Class Name
							<span>#/#</span>
						</h3>
						<p class="instructor">
							Taught by <a href='#'> Name</a>
						</p>
						<p class="description">
							Ut efficitur venenatis interdum. Aenean blandit, velit et laoreet vehicula, quam nibh viverra ante, nec tempus ipsum quam viverra diam.
						</p>
					</div>
				</div>
				<div class='item'>
					<div class='content'>
						<h3 class='class'>
							Class Name
							<span>#/#</span>
						</h3>
						<p class="instructor">
							Taught by <a href='#'> Name</a>
						</p>
						<p class="description">
							Ut efficitur venenatis interdum. Aenean blandit, velit et laoreet vehicula, quam nibh viverra ante, nec tempus ipsum quam viverra diam.
						</p>
					</div>
				</div>
			</div><!--item-list-->
		</div><!--widget-->
	</div>	<!--container-->

	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/script.js"></script>
</body>
</html>